<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="diskexchange" transaction-type="RESOURCE_LOCAL">

        <class>com.company.diskexchange.entity.Disk</class>
        <class>com.company.diskexchange.entity.TakenItem</class>
    </persistence-unit>
</persistence>
